<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>V-IF VS V-SHOW</title>
</head>
<body>
    <div id="app">
        <h1 v-if="isVisible">I am visible</h1>
        <h2 v-if="!isVisible">I am invisible</h2>

        <h1 v-show="isVisible">I am visible</h1>
        <h2 v-show="!isVisible">I am invisible</h2>
        <button @click="isVisible = !isVisible">Toggle</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                isVisible: false
            }
        })
    </script>
</body>
</html>